.footer{
    &__logo{
        @include maxQuery(575){
            width: 70%;
        }
    }
    &__link{
        @include box(30);
        @include maxQuery(575){
            @include box(26);
        }
    }
}

//footer one style
.widget__linkone{
    li{
        &:not(:last-child){
            margin-bottom: 16px;
        }
        @include maxQuery(1199){
            &:not(:last-child){
                margin-bottom: 10px;
            }   
        }
    }
}
.footer__onewidget__link{
    border-left: 1px dashed var(--p1-border);
    height: 100%;
    padding-left: 66px;
    @include maxQuery(1199){
        padding-left: 15px;
    }
    @include maxQuery(991){
        padding-left: 0px;
        border-left: unset;
        margin-top: 30px;
    }
    @include maxQuery(575){
        margin-top: 20px;
    }
}
//footer one style


//footer four style
.footer__topfour{
    .subscribebox{
        padding-left: 0;
        border-left: unset;
        form{
            background: #262629;
            input{
                padding: 1px 19px 2px;
                color: var(--n0);
                outline: none;
            }
        }
    }
    .navigate-four{
        .navigate-box{
            display: flex;
            gap: 98px;
            ul{
                li{
                    &:hover{
                        a{
                            color: var(--p1);
                        }
                    }
                }
            }
        }
    }
    @include maxQuery(500){
        .navigate-four{
            flex-wrap: wrap;
            .navigate-box{
                display: flex;
                gap: 40px;
            }
        }
    }
    @include maxQuery(380){
        .navigate-four{
            .navigate-box{
                gap: 18px;
            }
        }
    }
}
.foote-right-wrapfour{
    @include maxQuery(991){
        margin-top: 40px;
    }
    @include maxQuery(767){
        margin-top: 24px;
    }
    .app-goggle{
        max-width: 180px;
    }
    .apps{
        width: 100%;
    }
}
//footer four style




