//bn banner style
.hero-section{
    @include minQuery(1199){
        margin-top: 95px;
    }
    .authorize-maintains{
        position: absolute;
        right: 0;
        top: 0;
        max-width: 800px;
        z-index: 1;
        .authorize-item{
            max-width: 800px;
            height: 808px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    @include maxQuery(1600){
        .authorize-maintains{
            max-width: 800px;
            .authorize-item{
                max-width: 800px;
                height: 778px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    @include maxQuery(1399){
        .authorize-maintains{
            max-width: 680px;
            .authorize-item{
                max-width: 800px;
                height: 778px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    @include maxQuery(1199){
        .authorize-maintains{
            max-width: 100%;
            margin: 0 auto;
            position: initial;
            .authorize-item{
                max-width: 100%;
                height: 700px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.bn__ten-cont{
    max-width: 660px;
    padding: 80px 0 210px;
    height: 808px;
    .display-three{
        font-size: 80px;
    }
   @include maxQuery(1600){
        max-width: 550px;
        height: 782px;
        .display-three{
            font-size: 60px;
        }
   }
   @include maxQuery(1199){
        max-width: 700px;
        height: initial;
        padding: 70px 0 75px;
        text-align: center;
        margin: 0 auto;
        p{
            line-height: 26px;
        }
        .display-three{
            font-size: 60px;
        }
   }
   @include maxQuery(991){
       padding: 140px 0 75px;
   }
   @include maxQuery(550){
        p{
            line-height: 26px;
        }
        .display-three{
            font-size: 44px;
        }
   }
}
.sponsor-v10{
    margin-top: -121px;
    @include maxQuery(1399){
       margin-top: -112px;
    }
    @include maxQuery(1199){
        margin-top: 0;
    }
}
.bn10-thumb{
    margin-top: -120px;
    z-index: 99;
    .mimg{
        max-width: unset;
    }
    @include maxQuery(1199){
        width: 100%;
        margin-top: 0;
        .mimg{
            max-width: 100%;
        }
    }
    @include maxQuery(991){
        display: none;
    }
}
.bn10-vid{
    width: 280px;
    //Loop Play 
    .custom-loop-play{
        position: relative;
        border-radius: 20px;
        height: 110px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        video{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: fill;
        }
        .popup-video{
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 9;
            transform: translate(-50%, -50%);
        }
    }
    //Loop Play 
    .popup-video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        i{
            font-size: 22px;
            color: var(--n0);
        }
    }
    @include maxQuery(1199){
        margin: 0 auto;
    }
}
//bn banner style

//Custom Space
.space-top-custom{
    padding-top: 180px;
    @include maxQuery(1199){
        padding-top: 60px;
    }
    @include maxQuery(991){
        padding-top: 95px;
    }
}
//Custom Space

//About More Style
.about-more-content{
    .more-aout-list{
        li{
            i{
                font-size: 12px;
            }
        }
    }
}
//About More Style

//platform skill
.platform-skill-item{
    transition: all 0.4s;
    border: 1px solid var(--n20);
    .platform-skill-icon{
        width: 65px;
        height: 65px;
        padding: 4px;
        border-radius: 8px;
        background: var(--n0);
        img{
            width: 45px;
        }
    }
    &:hover{
        background: var(--n0) !important;
        border-color: var(--p1);
    }
}
//platform skill

//Community Section
.student-communitys{
    background-size: cover;
    padding: 300px 0;
    .student__countitem{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    @include maxQuery(1399){
        padding: 250px 0;
    }
    @include maxQuery(1199){
        padding: 200px 0;
    }
}
.join-community-section{
    background-size: cover;
    z-index: 1;
    &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.337);
    }
}
//Community Section

//Achivement Section
.achivement-item{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
//Achivement Section

// testimonial section
.testi__oneitem{
    background: var(--n20);
    transition: all 0.4s;
    border-top-left-radius: 40px !important;
    .cont{
        .cameron{
            font-size: 20px;
            font-weight: 600;
        }
    }
    .ratting{
        top: 16px;
        left: 20px;
    }
    @include maxQuery(1199){
        .cont{
            .cameron{
                font-size: 18px;
            }
        }
    }
    .quote{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    @include maxQuery(1199){
        p{
            font-size: 16px;
        }
    }
    &:hover{
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        .quote{
            background: var(--p1);
        }
    }
}
.cmn__white{
    position: absolute;
    right: 0;
    bottom: 0;
    @include maxQuery(1199){
        width: 52px;
    }
}
// testimonial section

//courses details style
.courses-details-righwrap{
    @include minQuery(991){
        transform: translateY(-120px);
        margin-bottom: -120px;
        position: sticky;
        top: 120px;
    }
}
.thumb-courses{
    @include maxQuery(575){
        // height: 180px;
        .mimg{
            height: 100%;
            margin-bottom: 24px;
        }
        .breadcrumnd{
            position: initial !important;
            padding: 8px 0px;
        }
        .bread-rights{
            display: none;
        }
        margin-bottom: 36px;
    }
}
.bread-lefts{
    width: 340px;
    left: -2px;
    top: -1px;
}
.bread-rights{
    width: 340px;
    top: -1px;
    right: -1px;
}
.space-bread1{
    padding: 8px 24px;
}
.vidprice__item{
   .vid-pshape{
    @include maxQuery(1199){
        width: 140px;
    }
   }
}
.enroll-soc{
    li{
        a{
            &:hover{
                background: var(--p1) !important;
            }
        }
    }
}
//courses details style

// instructor profile
.instructor-profive1{
    .widing-thumb{
        @include minQuery(575){
            min-width: 160px;
            height: 160px;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        @include maxQuery(575){
            width: 80px;
        }
    }
}
// instructor profile

// write review
.writere-v1{
    .nice-select,
    textarea,
    input{
        border-radius: 30px;
        border: 1px solid var(--n40);
        background: var(--n0);
        padding: 12px 20px;
    }
    .nice-select{
        .list{
            padding: 18px;
            background: var(--n0);
        }
    }
}
// write review

// tab faq
.tab-faq{
    .accordion-single{
        transition: all 0.4s;
        &.active{
            background: var(--p1) !important;
            .header-area{
                background: var(--p1);
                button{
                    color: var(--n0);
                }
            }
            .content-area{
                .content-body{
                    p{
                        color: var(--n0);
                    }
                }
            }
        }
    }
    .header-area{
        .accordion-btn{
            &::before{
                border-radius: 50%;
                @include box(36);
                font-size: 16px;
                background: var(--bg1);
            }
            &::after{
                font-size: 24px;
                color: var(--p1);
            }
        }
    }
}
// tab faq

// review box
.course-reviewfixed{
    top: 350px;
    position: sticky;
    @include maxQuery(1399){
        top: 116px;
    }
}
.journy-roaate{
    i{
        transition: all 0.5s;
    }
    &:hover{
        i{
            transform: rotate(46deg);
        }
    }
}
.average-review-v1{
    .progress{
        width: 100%;
        background: var(--n30);
        height: 12px;
        .progress-bar{
            width: 100%;
            background: var(--s1);
        }
    }
}
.comments__box{
    .reply__content {
        margin-top: 30px;
        display: none;
      }
}
.dnone{
    display: none;
}
.discussion-box{
    border-radius: 100px;
    input{
        outline: none;
        border: unset;
    }
}
.dot-fixed{
    width: 4px;
    height: 4px;
    background: var(--p1);
    border-radius: 50%;
}
.community-body{
    transform: translateY(-120px);
    margin-bottom: -120px;
    .community-rightside{
       @include minQuery(991){
            position: sticky;
            top: 220px;
       }
    }
    @include maxQuery(991){
        transform: translateY(30px);
        margin-bottom: -0px;
    }
}
.classic-linktag{
    .fs20{
        font-size: 16px !important;
    }
}
// review box

//BLog Details
.classic-blog-right{
    @include maxQuery(991){
        background: var(--n0);
        border-radius: 16px;
    }
}
.blog-details-right.cmn-rightclickbody{
    top: 0 !important;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    left: -400px;
    &.active{
        left: 10px;
        right: initial;
        background: var(--n0) !important;
    }
}
//BLog Details

//browse section
.browse-head{
    .brow-title{
        font-size: 80px;
        line-height: 120%;
    }
    @include maxQuery(991){
        .brow-title{
            font-size: 48px;
            line-height: 120%;
        }
    }
    @include maxQuery(575){
        .brow-title{
            font-size: 38px;
            line-height: 120%;
        }
    }
    @include maxQuery(500){
        .brow-title{
            font-size: 28px;
            line-height: 120%;
        }
    }
}
.allcourses-btn{
    li{
        a{
            display: inline-block;
            border: 1px solid #DFE0E4;
            font-size: 14px;
            color: var(--n700);
            padding: 12px 24px;
            border-radius: 100px;
            transition: all 0.4s;
        }
        &:hover{
            a{
                border-color: var(--s2);
            }
        }
    }
}
.explore__tab {
    .tablinks{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .nav-links{
            width: 100%;
            .tablink{
                width: 100%;
               padding: 14px 20px;
               border-radius: 5px;
               background: var(--n0); 
            }
            &.active{
                .tablink{
                    background: var(--p1);
                    color: var(--n0);
                }
            }
        }
        @include maxQuery(1199){
            flex-wrap: wrap;
            gap: 14px;
            .nav-links{
                width: initial;
                .tablink{
                   padding: 10px 16px;
                   border-radius: 5px;
                   background: var(--n0); 
                }
                &.active{
                    .tablink{
                        background: var(--p1);
                        color: var(--n0);
                    }
                }
            }
        }
    }
}
//browse section

// event -details
.event-details{
    .bread-rights{
        width: 380px;
        top: -3px;
        right: -3px;
    }
    @include maxQuery(575){
        .thumb-courses{
            .space-bread1{
                background: var(--n0);
                padding: 20px 16px 24px;
            }
        }
        .bread-rights{
            display: none;
        }
    }
}
// event -details

// pricing section
.pricing__item{
    padding: 40px 40px;
    transition: all 0.5s;
    .pri__shpet{
        width: 210px;
    }
    .pri__cuss{
        width: 180px;
        height: 92px;
    }
    .icon{
        @include box(90);
        i{
            font-size: 46px;
        }
    }
    .pri-list{
        li{
            transition: all 0.4s;
        }
    }
    .basic-plan{
        transition: all 0.4s;
    }
    .cmn-btn{
        &:hover{
           color: var(--n0);
        }
    }
    .price__count{
        .adjust{
            span{
                font-size: 56px;
                color: var(--p1);
                font-weight: 600;
                line-height: 76px;
                transition: all 0.4s;
            }
        }
    }
    @include maxQuery(1399){
        padding: 20px 20px;
        .pri__shpet{
            width: 195px;
        }
        .pri__shpeb{
            width: 90px;
        }
        .cmn__icon88{
            i{
                font-size: 30px;
            }
        }
        .icon{
            @include box(60);
            i{
                font-size: 23px;
            }
        }
    }
    @include maxQuery(1199){
        .pri__shpet{
            width: 175px;
            height: 75px;
        }
        .pri-list{
            li{
                font-size: 16px;
            }
        }
    }
    &.active,
    &:hover{
        background: var(--p1) !important;
        .cmn-btn{
            color: var(--n0);
        }
        .basic-plan{
            background: var(--n0);
            color: var(--n700);
        }
        .pri-list{
            li{
                color: var(--n0);
                i{
                    color: var(--n0) !important;
                }
            }
            .opa04{
                opacity: 1;
            }
        }
        .bb-704{
            border-color: #ebebeb;
        }
        .price__count{
            .month{
                color: var(--n0);
            }
            .adjust{
                span{
                    color: var(--n0);
                }
            }
        }
    }
}
.bgnone-p1{
    border-radius: 50%;
    overflow: hidden;
    &:hover{
        background: transparent;
    }
}
// pricing section

// custom tabs
.tabcontents {
    position: relative;
  }
  .tabitem {
    transform: translateY(100px);
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s all;
  }
  .tabitem.active {
    position: initial;
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
  }
// custom tabs

@keyframes updown {
    50%{
        transform: translateY(-20px);
    }
}
@keyframes zoominout {
    50%{
        transform: scale(1.05);
    }
}
// all vector 

// text slde 
.marque__section{
    padding: 120px 0;
    @include maxQuery(1399){
        padding: 90px 0;
    }
    @include maxQuery(991){
        padding: 60px 0;
    }
}
.marquee-wrapper {
    background: var(--p1);
    box-shadow: 0px 4px 0px 0px #1C1D20;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    transform: rotate(-5deg);
    margin-right: -20px;
    margin-left: -20px;
}
.text-slider {
    padding: 13px 20px;
    font-size: 32px;
    height: 100px;
    font-weight: 600;
    color: var(--n0);
    text-transform: capitalize;
    @include maxQuery(1199){
        padding: 15px 16px;
    }
    @include maxQuery(991){
        padding: 20px 16px;
        font-size: 20px;
    }
}
.marquee-wrapper {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.marquee-inner {
    position: absolute;
    display: inline-flex;
    width: 200%;
}
.marquee-list {
    float: left;
    width: 50%;
}
.marquee-item {
    float: left;
    transition: animation 0.2s ease-out;
}
.marquee-inner.to-left {
    animation: marqueeLeft 25s linear infinite;
}
@keyframes marqueeLeft {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
// text slde 

// FAQ Starts
.faq-cmn {
    .accordion-single{
        &.active{
            .header-area{
                background: var(--p1);
                button{
                    color: var(--n0);
                }
            }
        }
    }
    .header-area {
        cursor: pointer;
        button {
            font-size: inherit;
            @include maxQuery(575) {
                padding-right: 15%;
            }
            &::before, &::after {
                position: absolute;
                z-index: 1;
                right: 0;
                border-radius: 5px;
            }
            &::after {
                content: "\f0d7";
                font-family: "Font Awesome 5 Free";
                font-size: 24px;
                transform: rotate(0deg);
                transition: var(--transition);
                font-weight: 900;
            }
        }
    }
    .content-area {
        display: none;
    }
    .active button {
        &::after {
            content: "\f0d7";
            transform: rotate(180deg);
        }
    }
}
.cmn-accorborder{
    border-left: 4px solid rgba(28, 29, 32, 0.30);
}


//Contact Style
.map-section{
    iframe{
        border: 0;
        width: 100%;
        height: 450px;
        @include maxQuery(991){
            height: 300px;
        }
        @include maxQuery(575){
            height: 250px;
        }
    }
}
//Contact Style